@model Nøsted.Models.Ordre

@{
    ViewData["Title"] = "Create";
}

<h1>Ny ordre</h1>
<hr />
<div class="row">
    <form asp-action="Create">
        <!-- Legg til dette form-elementet rundt skjemaet -->
        <div>
            @Html.Partial("_SkjemaPartial")
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form> <!-- Lukk form-elementet her -->
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
