@{
    ViewData["Title"] = "Søk for en ordre";
}

<h4>Søk etter en ordre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResultatOrdre">

            <div class="form-group">
                <label for="Status" class="control-label">Status</label>
                <select name="Status" class="form-control">
                    <option value="">Alle</option>
                    <option value="Klargjøres">Klargjøres</option>
                    <option value="Pågående">Pågående</option>
                    <option value="Avsluttet">Avsluttet</option>
                </select>
            </div>

            <div class="form-group">
                <label for="SearchPhrase" class="control-label">Søk på ordreinformasjon</label>
                <input name="SearchPhrase" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Søk" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbake til listen</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
