@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NøstedAS</title>
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
</head>

<body class="start-page">
    <div class="text-center">
        <br /><br /><br /><br /><br /><br /><br />
        <h1>NøstedAS</h1>
        <br />

        <h4>
            <span style="color: rgb(144, 174, 192);">Alt handler om</span><br />
            <span style="color: black;">koblinger</span><span style="color: rgb(217, 127, 63);">.</span>
        </h4>

    </div>
</body>
